body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 200px;
}

img {
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.registration {
    background-color: #1f2937;
    display: flex;
    min-height: 75vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    gap: 32px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    color: #e5e7eb;
    gap: 8px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.big-image {
    display: flex;
    flex: 1;
    background-color: gray;
    color: #e5e7eb;
    min-height: 200px;
}

.button1 {
    max-width: 75px;
}