body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 24px 200px;
    color: #f9faf8;
}

img {
    color: #e5e7eb;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

/* main body */

.registration {
    background-color: #1f2937;
    display: flex;
    min-height: 75vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    gap: 32px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    color: #e5e7eb;
    gap: 8px;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.big-image {
    display: flex;
    flex: 1;
    background-color: #6b7280;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.button1 {
    width: 120px;
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 16px;
}

/* information */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 200px;
    padding-bottom: 100px;
}

.subtitle1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 50px 0;
}

.images {
    display: flex;
    gap: 50px;
    justify-content: center;
}

image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placeholder {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
    margin-bottom: 10px;
}

.subtext2 {
    text-align: center;
    width: 150px;
}

/* quote */

.quote {
    display: flex;
    padding: 120px 350px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.sentence {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    text-align: left;
}

.author {
    margin-top: 20px;
    margin-left: auto;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
}

/* call to action */

.cta {
  background: white;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

.cta-box {
  background: #3882f6;
  color: white;
  width: 70%;
  padding: 40px 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-box h3 {
  margin: 0;
  font-size: 24px;
}

.cta-box p {
  margin: 5px 0 0 0;
  font-weight: 100;
  color: #e5e7eb; 
}

.cta-button {
  padding: 10px 30px;
  background: transparent;
  border: 2px solid white;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* footer */

footer {
  background: #1f2937;
  color: #e5e7eb;
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
}
